::-webkit-scrollbar {
    display: none;
}

body {
    overflow-x: hidden;
    font-family: "DM Sans";
    background-color: black;
}

.vertical-tabs {
    display: flex;
    height: 100vh;
    flex-direction: row;
}

.tabList {
    justify-content: space-between;
}

.tab-list {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.tab-item {
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease;
}

.tab-content {
    flex: 1;
    height: max-content;
}

.vertical-tabs .tab-list {
    width: 18.5%;
    transition: width 0.7s ease;
}

@media only screen and (max-width: 1020px) {
    .globe {
        display: none;
    }
}

@media only screen and (max-width: 500px) {
    .graphs {
        display: none;
    }
}

.vertical-tabs .tab-item {
    display: flex;
    align-items: start;
    justify-content: start;
    transition: background-color 0.35s ease;
}

.vertical-tabs .tab-icon {
    display: flex;
    margin-right: 10px;
    align-items: center;
    justify-content: center;
}

.vertical-tabs .tab-list:hover .tab-text {
    display: inline;
}

.vertical-tabs .tab-list:hover .tab-item {
    justify-content: flex-start;
}

.pulsating-dots {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dot {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: green;
    animation: waveform 0.8s ease-in-out infinite;
}

.dot:nth-child(1) {
    animation-delay: 0s;
}

.dot:nth-child(2) {
    animation-delay: 0.1s;
}

.dot:nth-child(3) {
    animation-delay: 0.2s;
}

.dot:nth-child(4) {
    animation-delay: 0.3s;
}

@keyframes waveform {
    0% {
        transform: scaleY(1);
    }

    50% {
        transform: scaleY(2);
    }

    100% {
        transform: scaleY(1);
    }
}

/* @keyframes pulse {
    0% {
        opacity: 1;
        transform: scale(1);
    }

    50% {
        opacity: 0.7;
        transform: scale(1.25);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
} */